.product{
    display: flex;
    .imageOuter{
        flex: none;
        position: relative;
        width: 200px;
        height: 200px;
        img{
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: contain;
            inset: 0;
        }
    }
}